# merging data into 2 csv

In [ ]:
import pandas as pd
df=pd.read_csv("COVIDclean.csv")
df1=pd.read_csv("Zillowclean.csv")
dfmerge=df1.merge(df, how='left',on='fip-year-month')
dfmerge=dfmerge.rename(columns={'fip-year_x':"fip-year"})
dfmerge

In [ ]:
import numpy as np
dfmerge['cases'] = dfmerge['cases'].replace(np.nan, 0)
dfmerge

In [ ]:
housingCOVID=dfmerge.filter(['cost-house','fip-year-month','fip-year','cases'])

In [ ]:
housingCOVID.dropna()

In [ ]:
housingCOVID.to_csv("housingCOVID.csv")

In [ ]:
income= pd.read_csv('incomeclean.csv')
raceeth= pd.read_csv('raceethclean.csv')
RU= pd.read_csv('RUclean.csv')
pop= pd.read_csv('popclean.csv')

In [ ]:
RU['fips']=RU['fips'].astype(str)
RU=RU.drop(columns=['Unnamed: 0'],axis=0)
RU

In [ ]:
p1=income.merge(pop,on='fip-year')
p1['fips']=p1['fips'].astype(str)
p1.dtypes
p2=p1.merge(RU,on='fips')
p3=p2.merge(raceeth,on='fip-year')
p3

In [ ]:
demo=p3.filter(["fip-year","PCIncome","RUCC",'POPESTIMATE','MFratio','POPEST_MALE','POPEST_FEM','MEDIAN_AGE_TOT','UNDER5_TOT','AGE513_TOT','AGE1544_TOT','AGE4564_TOT','AGE65PLUS_TOT','WA','BA','IA','AA','NA','TOM','NH','H'])
demo

In [ ]:
demo=p3.drop(columns=['Unnamed: 0_x','Unnamed: 0_y','Unnamed:0'])
demo.to_csv('demographics.csv')

# Connecting to MongoDb

In [6]:
import pymongo
import json
import pandas as pd
#myclient = pymongo.MongoClient("mongodb://localhost:27017/")
from config import password
from config import username
#myclient = pymongo.MongoClient(f"mongodb+srv://{username}:{password}@housingcovid.sc3siep.mongodb.net/?retryWrites=true&w=majority")
myclient=pymongo.MongoClient(f"mongodb://{username}:{password}@ac-bwpvcfr-shard-00-00.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-01.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-02.sc3siep.mongodb.net:27017/?ssl=true&replicaSet=atlas-lvkd7c-shard-0&authSource=admin&retryWrites=true&w=majority")

myclient

MongoClient(host=['ac-bwpvcfr-shard-00-02.sc3siep.mongodb.net:27017', 'ac-bwpvcfr-shard-00-01.sc3siep.mongodb.net:27017', 'ac-bwpvcfr-shard-00-00.sc3siep.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-lvkd7c-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True)

In [10]:
df=pd.read_csv("housingCOVID.csv",index_col=0)
df.head()

   cost_house fip_year_month   fip_year  cases
0      635279    6037-2019-1  6037-2019      0
1      633105    6037-2019-2  6037-2019      0
2      631271    6037-2019-3  6037-2019      0
3      630818    6037-2019-4  6037-2019      0
4      631688    6037-2019-5  6037-2019      0

In [11]:
data=df.to_dict(orient='records')

In [ ]:
data

In [ ]:
db=myclient['COVID_Housing']
db

In [ ]:
print(db)

In [13]:
mydb.Cases_housing.insert_many(data)

In [14]:
df=pd.read_csv("demographics.csv",index_col=0)
df.head()

,PCIncome,fip-year,fips,POPESTIMATE,MFratio,POPEST_MALE,POPEST_FEM,MEDIAN_AGE_TOT,UNDER5_TOT,AGE513_TOT,...,AGE65PLUS_TOT,RUCC_2013,WA,BA,IA,AA,NA,TOM,NH,H
0,29819,1001-2019,1001,55769,0.943780,27078,28691,39.2,3251,6499,...,8783,2,42490,11252,266,668,58,1035,54116,1653
1,29804,1001-2020,1001,58877,0.953256,28734,30143,39.2,3480,7042,...,9273,2,44580,12136,281,690,66,1124,57009,1868
2,30968,1001-2021,1001,59095,0.946347,28733,30362,39.3,3388,7062,...,9484,2,44442,12425,271,711,70,1176,57129,1966
3,32626,1003-2019,1003,223565,0.941191,108396,115169,43.6,12068,24301,...,46874,3,195303,19625,1724,2436,155,4322,213197,10368
4,33751,1003-2020,1003,233140,0.950505,113612,119528,43.8,12176,25601,...,49125,3,203791,20211,1844,2561,160,4573,222174,10966

In [15]:
data=df.to_dict(orient='records')

In [ ]:
data

In [17]:
mydb.demographics.insert_many(data)

Pivot into SQL merge

In [18]:
mydb=myclient["HousingCovid"]
df=pd.read_csv("Mergeddata.csv")
df

,cost_house,cases,fip_year_month,fips,pcincome,popestimate,mfratio,popest_male,popest_fem,median_age_tot,...,age65plus_tot,rucc_2013,wa,ba,ia,aa,na,tom,nh,h
0,635279,0,6037-2019-1,6037,34156,10011602,0.972269,4935416,5076186,37.1,...,1408273,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453
1,633105,0,6037-2019-2,6037,34156,10011602,0.972269,4935416,5076186,37.1,...,1408273,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453
2,631271,0,6037-2019-3,6037,34156,10011602,0.972269,4935416,5076186,37.1,...,1408273,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453
3,630818,0,6037-2019-4,6037,34156,10011602,0.972269,4935416,5076186,37.1,...,1408273,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453
4,631688,0,6037-2019-5,6037,34156,10011602,0.972269,4935416,5076186,37.1,...,1408273,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95306,415334,2202,8111-2021-8,8111,40019,733,1.207831,401,332,48.9,...,182,9,695,2,8,6,0,22,628,105
95307,423507,2603,8111-2021-9,8111,40019,733,1.207831,401,332,48.9,...,182,9,695,2,8,6,0,22,628,105
95308,429720,2914,8111-2021-10,8111,40019,733,1.207831,401,332,48.9,...,182,9,695,2,8,6,0,22,628,105
95309,433309,3092,8111-2021-11,8111,40019,733,1.207831,401,332,48.9,...,182,9,695,2,8,6,0,22,628,105
95310,438270,3400,8111-2021-12,8111,40019,733,1.207831,401,332,48.9,...,182,9,695,2,8,6,0,22,628,105

In [19]:
data=df.to_dict(orient='records')

#data

In [20]:
mydb.merged_data.insert_many(data)